<%- include("./partials/header.ejs") %>
<body>
    <h1>Blog Posts</h1>
    <% posts.forEach(post => { %>
        <div>
            <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
            <p><%= post.content.substring(0, 100) %>...</p>
            <a href="/edit/<%= post.id %>">Edit</a>
            <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% }); %>
    <a href="/create">create New Post</a>
</body>
</html>